.modal-hidden {
    opacity: 0;
    /* transform: scale(0.5); */
}

.modal-show {
    opacity: 1;
    /* transform: scale(1); */
}

.modal-transition {
    transition: opacity 0.2s ease, transform 0.2s ease;
}
